$fuentePrincipal:'Roboto', sans-serif;


//Colores
$celeste: #BDD4FF;
$negro:#000;
$blanco:#fff;
$gris:#10131c;

//Media Queries
$telefono:320px;
$tablet:768px;
$desktop:1200px;
$bigDesktop:1800px;
//Fuentes
$delgada:100;
$light:300;
$regular:400;
$medium:500;

//Separaciones
$separacion : 5rem;
$margenTop: 25rem;
//radio
$radio:1rem;